*{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  height: 80px !important;
}

.nav-link{
  font-size: 1.2rem !important;
}
.user{
  display: flex;
  font-size: 1.2rem;
  gap: 5px;
 margin-left: 500px;
 color: black !important;


  
}
.icom{
  margin-top: -4px;
}
.dropdown-menu{
  text-align: center !important;
}
.landing{

  margin-top: 200px;
}

.heading{
  display: flex;
  gap: 32px;
  justify-content: center;
}


.para{
  font-size: 1.5rem;
  width: 400px;
}
.head{
  display: flex;
  justify-content: space-around;
}
.logo{
  margin-top: 30px;
  font-size: 2rem;
  color: red;
}
.logo:hover{
  margin-top:10px;
  transition: .9s;
}
.first-btn{
  border: 1px solid blue;
  width: 300px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  color: #fff;
  background-color: blue;
  font-weight: bold;
}

.header{
  display: flex;
  justify-content: center;
  gap: 70px;
}
.head-text{
  margin-top: 50px;
}
.org-title{
  width: 520px;
  font-size: 50px;
}
.image-fluid{
  width: 50px !important;
  border-radius: 50%;
}
.sec-head{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.descr{
  font-size: 1.4rem;
}
.section{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.art-head{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.elim{
  font-weight: bold;
}
.lime{
  width: 250px;
}
.infos{
  display: flex;
  gap: 15px;
  margin: 20px;
}
.icon{
  color: darkgray;
}
.article{
  display: flex;
  margin-left: 100px;
  justify-content: space-around;
}
.main-head{
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}
.main{
  border: 1px solid ;
  width: 300px;
}
.mate{
  width: 250px;
  text-align: center;
  margin-top:10px ;
}
.mages{
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.inform{
  display: flex;
  flex-direction: column;
}
.name{
  color: green;
}
.start{
  text-decoration: none;
  color: #fff;
}
.position{
  margin-top: 100px;
}
.form-control{
  width: 400px !important;
  margin: 10px;

 
  
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 500px;
  height: 520px;
  margin-left: 440px;
  margin-top: 100px ;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
  
}
.button{
  width: 400px !important;
  margin-left:50px ;
 

}
.inputs{
  display: grid;
  place-content: center;
  margin-top: 40px;

}
.hr{
  width: 400px;
  margin-left: 49px;
}
.hr2{
  width: 400px;
  margin-left: 49px;
  margin-top: 5px;
}

.asking{
  text-align: center;
  margin-top: -20px;
  text-decoration: none;
}
.login{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 500px;
  height: 370px;
  margin-left: 440px;
  margin-top: 140px ;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
}
.ask{
  text-align: center;
  margin-top: -19px;
  text-decoration: none
}
a{
  text-decoration: none !important;
}
.event{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 510px;
  height: 580px;
  margin-left: 440px;
  margin-top: 110px ;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
  font-weight: lighter;
}
.other{
  font-weight: lighter;
}
ul{
  list-style-type: none;
}

.home-links{
  color:cadetblue;
  font-weight: bold;
}
.home-nav{
  display: flex;
  justify-content: center;
  gap: 10px;
  
}
.profile{
  width:40%
}
.lab{
  margin-left: 9px;
}
.but{
  width: 25rem;
  margin-left: 3rem;
}
.books{
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.check{
  
 height: fit-content;
}
.adds{
  display: flex;
  gap: 10px;
}
.add{
  display: flex;
 gap: 10px;
}

.card{
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
}
.prices{
  display:flex;
  gap: 10px;
}
.growl{
  display: flex;
}
.home-img{
  height: 100%!important;
 
}

.map{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #000;
}
.map-item{
  border: 1px solid #ddd;
  background-color: #ddd;
 cursor: pointer;
  border-radius: 10px;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  color: #000;
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}
.let{
margin-left: 390px;
}
.card-title{
  text-transform: capitalize !important;
}
.home-nav{
 
  color: #000;
}

